h1
{
	
	color: rgb(20, 241, 0); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url('bg1.jpg');
	background-position: center;
	background-size: cover;

}

#myCanvas{
	background-color: white;
	border-width: 10px;
	border-style: double;

}
